* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(body.login-body) {
  background: url('../assets/loginpage/todo.jpeg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* 
.wrapper {
  width: 500px;
  background-color: purple;
  padding: 30px 40px;
  height: 400px;
  width: 500px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px; 
}

.inputBox {
  display: block; 
  width: 100%;
  margin-top: 20px; 
} */

/* .wrapper {
  width: ;
  background-color: purple;
  padding: 30px 40px;
  height: 400px;
} */
